html,body{
    margin: 0;
    padding: 0;
    color:#3D3D3D;
}
ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}

.f_l{
    float: left;
}
.f_r{
    float: right;
}

.nr_wrap{
    width: 1200px;
    min-height: 85px;
    margin: 0 auto;
}
.clearfix::after{
    content: '';
    height:0;
    display: block;
    clear: both;
}

input:focus,button:focus{
    outline-style: none;
}
button{
    cursor: pointer;
}