html,body{
    margin: 0;
    padding: 0;
    color:#3D3D3D;
    font-family: 'Microsoft YaHei'
}
ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}

.f_l{
    float: left;
}
.f_r{
    float: right;
}

.nr_wrap{
    width: 1200px;
    min-width: 1200px;
    min-height: 85px;
    margin: 0 auto;
}
.clearfix::after{
    content: '';
    height:0;
    display: block;
    clear: both;
}

input:focus,button:focus{
    outline-style: none;
}
button{
    cursor: pointer;
    border:none;
}

.nr_wrap{
    .head{
        font-size: 28px;
    }
}

.sub_head{
    color:#9D9D9D;
}

.make_order{
    width: 100%;
    min-width: 1200px;
    height: 290px;
    background: url('../assets/website/bg.png') no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 60px 0 0 0;
    box-sizing: border-box;
    button{
        background: transparent;
        width: 160px;
        height: 40px;
        line-height: 37px;
        border: 1px solid #fff;
        color: #fff;
        font-size: 16px;
        margin: 20px 0 0 0;
    }
}

.banner{
    margin-top: 85px;
    min-width: 1200px;
}